.loading-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-bg);
    height: 100vh;
    width: 100vw;
} 
.main-body {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--clr-bg);
}

.main-wrapper {
    display: flex;
    width: 70%;
    margin-top: 40px;
    justify-content: space-around;
    column-gap: 30px;
    max-width: 1030px;
    min-width: 1030px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    max-width: 700px;
}

.resolution-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    border-bottom: var(--clr-border);
}

.graph-wrapper{
    width: 600px;
}
.res-button {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 15px 0px 15px;
    border: none;
    background-color: var(--clr-bg);
    color: var(--clr-font);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    padding-bottom: .7em;
}

.active-res { 
    color: var(--clr-font);
    margin-bottom: -2px;
    padding-top: 2px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border-bottom: 2px solid var(--clr-font);
}

.pos-active-res{
    color: var(--clr-primary);
    border-bottom: 2px solid var(--clr-primary);
}

.neg-active-res{
    color: var(--clr-secondary); 
    border-bottom: 2px solid var(--clr-secondary);

}

.stock-name {
    width: 100%;
    display: flex;
}
.stock-name > h2 {
    font-weight: 400;
    font-size: 2em;
    text-align: left;
    color: var(--clr-font);
    margin-bottom: 5px;
    margin-top: 0;
}

.about-section {
    width: 100%;
    margin-top: 30px;
}

.sa-header {
    width: 100%;
    font-weight: 400;
    font-size: 1.3em;
    padding: 0px 0px 20px 0px;
    margin-bottom: 0px;
    border-bottom: var(--clr-border);
}

.sa-about {
    font-size: .9em;
    width: 85%;
    line-height: 160%;
}

.pos-read-more, .neg-read-more {
    font-weight: 500;
    cursor: pointer;
    font-size: 1em;
}

.pos-read-more {
    color: var(--clr-primary);
}

.neg-read-more {
    color: var(--clr-secondary);
}

.ua-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ua-right-wrapper, .ua-left-wrapper {
    border: var(--clr-border);
    padding: 1.5em;
    width: 48%;
}

.ua-title {
    font-size: .8em;
    font-weight: 400;
    width: fit-content;
}

.ua-box-header > p {
    margin: 2px;
}

.ua-value {
    font-size: 1.5em;
    width: fit-content;
}

.ua-section {
   display: flex; 
   width: 100%;
   justify-content: space-between;
}

.key-stat-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.key-stat-title{
    font-size: .9em;
}

/* buy sell module css: */     

.bns-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    width: 25%;
    max-width: 280px;
    min-width: 280px;
}

.bns-wrapper{
    width: 100%;
    background-color: var(--clr-bp-bg);
    box-shadow: var(--shadow);
    border: var(--clr-border);
    border-radius: 5px;

}

.bns-top{
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 500;
    border-bottom: var(--clr-border);
}
.bns-click{
    cursor: pointer;
}

.pos-bns{
    color: var(--clr-primary);
    border-bottom: 2px solid var(--clr-primary);
    padding-bottom: 15px;
    margin-bottom: -1px;
    cursor: pointer;
}
.neg-bns{
    color: var(--clr-secondary);
    border-bottom: 2px solid var(--clr-secondary);
    padding-bottom: 15px;
    margin-bottom: -1px;
    cursor: pointer;
}

.bns-shares{
    display: flex;
    margin: 10px 20px 0px 20px;
    justify-content: space-between;
    align-items: center;
}

.bns-shares>input{
    background-color: var(--clr-bns-input);
    text-align: right;
    height: 36px;
    width: 82px;
    border-radius: 3px;
    padding-right: 15px;
}

.bns-market-price{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    font-weight: 700;
    border-bottom: var(--clr-border);
}

.pos-mark-price{
    color: var(--clr-primary);
    font-weight: 300;
}
.neg-mark-price{
    color: var(--clr-secondary);
    font-weight: 300;
}

.bns-estimation{
    display: flex;
    margin: 0px 20px;
    justify-content: space-between;
    font-weight: 700;
}

.bns-complete-order{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border-bottom: var(--clr-border);
}

.bns-complete-order>button{
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 5px;
    font-size: .8em;
    font-weight: 600;

}

.pos-bns-button{
    background-color: var(--clr-primary);
}
.neg-bns-button{
    background-color: var(--clr-secondary);
}

.pos-bns-button:hover{
    background-color: var(--clr-button-hover-pos);
}
.neg-bns-button:hover{
    background-color: var(--clr-button-hover-neg);
}



.pos-bns-bp{
    color: var(--clr-primary);
}
.neg-bns-bp{
    color: var(--clr-secondary);
}

.bns-bp-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9em;
}

.bns-bp-error{
    color: var(--clr-secondary);
    font-weight: 700;
}

.pos-sell-all{
    color: var(--clr-primary);
    cursor: pointer;
    font-weight: 600;
}
.neg-sell-all{
    color: var(--clr-secondary);
    cursor: pointer;
    font-weight: 600;
}

.pos-atl-button, .neg-atl-button{
    background-color: var(--clr-bg);
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    border: 5px;
}

.pos-atl-button{
    border: 2px solid var(--clr-primary);
    color: var(--clr-primary);
}
.neg-atl-button{
    border: 2px solid var(--clr-secondary);
    color: var(--clr-secondary);
}

.pos-atl-button:hover{
    background-color: var(--clr-atl-hover-pos);
}
.neg-atl-button:hover{
    background-color: var(--clr-atl-hover-neg);
}


.atl-wrapper{
    width: 100%;
    padding: 20px;
}

.atl-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: underline;
}

.atl-modal-wrapper{
    display: flex;
    flex-direction: column;
}


.new-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.atl-list-names{
    font-size: 1.2em;
}
.atl-list-names1{
    font-size: 1.2em;
    margin-bottom: -10px;
}

.atl-watchlist-wrapper{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 64px;
    margin: 15px 0px;
}
.atl-watchlist-info{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 25px;
}

.atl-watchlist-stats{
    display: flex;
    flex-direction: column;
}

.atl-watchlist-stats-btm{
    display: flex;
    gap: 20px;
}
.atl-in-list{
    color: var(--clr-secondary);
}

.pos-atl-label {
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 22px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.pos-atl-label input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}

.checkmark {
 position: absolute;
 top: 0;
 left: 0;
 height: 25px;
 width: 25px;
 background-color: #eee;
}

.pos-atl-label:hover input ~ .checkmark {
 background-color: var(--clr-atl-hover-pos);
}

.pos-atl-label input:checked ~ .checkmark {
 background-color: var(--clr-primary);
}

.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

.pos-atl-label input:checked ~ .checkmark:after {
 display: block;
}

.pos-atl-label .checkmark:after {
 left: 9px;
 top: 5px;
 width: 5px;
 height: 10px;
 border: solid white;
 border-width: 0 3px 3px 0;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}
.neg-atl-label {
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 22px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.neg-atl-label input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 0;
 width: 0;
}

.checkmark {
 position: absolute;
 top: 0;
 left: 0;
 height: 25px;
 width: 25px;
 background-color: var(--clr-bp-bg);
 
}
.pos2{
    border: 1px solid var(--clr-primary);
}
.neg2{
    border: 1px solid var(--clr-secondary);
}

.neg-atl-label:hover input ~ .checkmark {
 background-color: var(--clr-atl-hover-neg);
}

.neg-atl-label input:checked ~ .checkmark {
 background-color: var(--clr-secondary);
}

.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

.neg-atl-label input:checked ~ .checkmark:after {
 display: block;
}

.neg-atl-label .checkmark:after {
 left: 9px;
 top: 5px;
 width: 5px;
 height: 10px;
 border: solid white;
 border-width: 0 3px 3px 0;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}

.pos-atl-save-btn, .neg-atl-save-btn{
    width: 100%;
    height: 48px;
    border-radius: 5px;  
    margin-top: 30px;
    font-size: 1em; 
    font-weight: 500;
}

.pos-atl-save-btn {
    background-color: var(--clr-primary);
}

.neg-atl-save-btn {
    background-color: var(--clr-secondary);
}

.pos-atl-save-btn:hover {
    background-color: var( --clr-button-hover-pos);
}

.neg-atl-save-btn:hover {
    background-color: var(--clr-button-hover-neg);
}

.atl-input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.list-name-update-button-container{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.pos-atl-list-create-btn, 
.neg-atl-list-create-btn {
    border-radius: 5px;
    padding: 7px 12px;
    font-weight: 500;
}

.pos-atl-list-create-btn:hover{
    background-color: var(--clr-button-hover-pos);
}

.neg-atl-list-create-btn:hover{
    background-color: var(--clr-button-hover-neg);
}

.pos-atl-list-create-btn{
    background-color: var(--clr-primary);
}

.neg-atl-list-create-btn{
    background-color: var(--clr-secondary);
}

.pos-atl-list-cancel-btn,
.neg-atl-list-cancel-btn {
    background-color: var(--clr-bp-bg);
}

.pos-atl-yon{
    color: var(--clr-primary);
}
.neg-atl-yon{
    color: var(--clr-secondary);
}